<h3>Get the client library</h3>
<p>The client library is available on <a href="http://search.maven.org/#artifactdetails%7Ccom.mnubo%7Cjava-sdk-client%7C1.12.0%7Cjar">maven</a>.</p>

<p>You can get started quickly by adding the following to your pom file:</p>
<pre>
    <code>
&lt;dependency&gt;
    &lt;groupId&gt;com.mnubo&lt;/groupId&gt;
    &lt;artifactId&gt;java-sdk-client&lt;/artifactId&gt;
    &lt;version&gt;1.12.0&lt;/version&gt;
&lt;/dependency&gt;
    </code>
</pre>

<p>Learn more on: <a href="https://github.com/mnubo/smartobjects-java-client">GitHub</a>.</p>

<h3>Create a client instance</h3>

<p>To create an instance, you need to import the following classes:</p>

<pre>
    <code>
import com.mnubo.java.sdk.client.services.MnuboSDKFactory;
import com.mnubo.java.sdk.client.spi.MnuboSDKClient;
    </code>
</pre>

<p>After that, you can create the client:</p>

<pre>
    <code>
final String host = "<%= hostname %>;
final String clientKey = "<%= clientKey %>";
final String clientSecret = "<%= clientSecret %>";

final MnuboSDKClient mnuboClient = MnuboSDKFactory.getClient(host , clientKey, clientSecret);
    </code>
</pre>